

.box1 {
    background: #192044;
    background: linear-gradient(172deg, rgba(25, 32, 68, 1) 7%, rgba(33, 14, 24, 1) 100%);
}

.box2 {
    background: #192044;
    background: linear-gradient(172deg, rgba(25, 32, 68, 1) 7%, rgba(33, 14, 24, 1) 100%);
}

.box3 {
   background: #192044;
    background: linear-gradient(172deg, rgba(25, 32, 68, 1) 7%, rgba(33, 14, 24, 1) 100%);
}

.box4 {
background: #192044;
    background: linear-gradient(172deg, rgba(25, 32, 68, 1) 7%, rgba(33, 14, 24, 1) 100%);
}